/*HEADER*/
#contact_modal {
  display: none;
}

.photograph-header {
  background-color: hsl(0, 0%, 98%);
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#photograph-header-h1 {
  margin: 0;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
}
.photograph-header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: -1;
  margin-left: 2rem;
}
.photograph-header-text .city-country {
  color: hsl(0, 67%, 34%);
}

.photograph-header h1 {
  display: flex;
  color: hsl(11, 63%, 53%);
}
/* MAIN */
/*MEDIA*/
.media-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 050px;
}

.media-photos article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.media-photos article p {
  color: hsl(0, 67%, 34%);
}

.media-photos article img {
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.media-photos article video {
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.title-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-likes i {
  color: hsl(0, 67%, 34%);
}

.icon-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/*TOTAL & PRICE*/
.total-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 30px;
  padding: 10px;
  margin-right: 2rem;
  border-radius: 5px 5px 0px 0px;
  margin-top: 0;
  background: hsl(11, 58%, 66%);
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.total-likes-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  align-items: center;
}

/*CONTACT*/
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: hsl(0, 67%, 34%);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: hsl(11, 58%, 66%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
