/* Color variables */
/* Primary */
/*Secondary */
@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: hsl(0deg, 67%, 34%);
  margin-right: 100px;
}

.gallery__options {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 50px;
  margin: 2rem 0;
}
.gallery__options label {
  font-weight: 600;
}
.gallery__options--sort {
  width: 6.5rem;
  border-radius: 5px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 67%, 34%);
  border: none;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}
.gallery__options .liste {
  width: 6.5rem;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}
.gallery__options .liste button {
  max-width: 300px;
  border-radius: 5px;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 67%, 34%);
  border: none;
  padding: 0.75rem;
}

#contact_modal {
  display: none;
}

/*CONTACT*/
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: hsl(0deg, 0%, 100%);
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: hsl(0deg, 67%, 34%);
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: hsl(11deg, 58%, 66%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: hsl(0deg, 3.2%, 18.6%);
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.input_message {
  height: 150px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 3.5rem 0;
}
.photographer_section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.photographer_section article {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: hsl(11deg, 63%, 53%);
  font-size: 36px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
}
.photographer_section .location {
  margin: 0;
  font-size: 18px;
  color: hsl(0deg, 67%, 34%);
}
.photographer_section .tagline {
  font-size: 16px;
  margin: 0;
}
.photographer_section .price {
  font-size: 14px;
  color: hsl(0deg, 0%, 32%);
  margin: 0;
}

/*HEADER*/
.photograph-header {
  background-color: hsl(0deg, 0%, 98%);
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#photograph-header-h1 {
  margin: 0;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
}

.photograph-header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: -1;
  margin-left: 2rem;
}

.photograph-header-text .location {
  color: hsl(0deg, 67%, 34%);
  font-weight: 500;
  font-size: 20px;
  margin: 0.5rem 0;
}

.photograph-header-text .tagline {
  font-size: 16px;
  color: hsl(0deg, 0%, 32%);
  margin: 0.5rem 0;
}

.photograph-header h1 {
  display: flex;
  color: hsl(11deg, 63%, 53%);
}

/* MAIN */
/*MEDIA*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 50px;
}

.gallery article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.gallery article p {
  color: hsl(0deg, 67%, 34%);
}

.gallery article img {
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.gallery article video {
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.title-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-likes i {
  color: hsl(0deg, 67%, 34%);
}

.icon-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/*TOTAL & PRICE*/
.total-box {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 30px;
  padding: 10px;
  margin-right: 2rem;
  border-radius: 5px 5px 0px 0px;
  margin-top: 0;
  background: hsl(11deg, 58%, 66%);
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.total-likes-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  align-items: center;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 0%, 0.9);
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: 50px;
  margin-right: 50px;
  animation: lightboxIn 0.5s;
}
.lightbox__container img,
.lightbox__container video {
  /* max-width: 100%;
  height: auto; */
  width: 1050px;
  height: 900px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  animation: lightboxIn 0.5s;
}
.lightbox__previous {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox__previous, .lightbox__next {
  border: none;
  background: url(../assets/icons/arrow.svg) center center/60px 45px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  transition: 0.3s;
}
.lightbox__previous:hover, .lightbox__next:hover {
  opacity: 1;
}
.lightbox__close {
  width: 42px;
  height: 42px;
  z-index: 12;
  border: none;
  background: url(../assets/icons/close.svg) center center/42px 42px no-repeat transparent;
  position: fixed;
  top: 20px;
  right: 20px;
}
.lightbox button {
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;
  text-indent: -3000px;
}
.lightbox button:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
