.gallery__options {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 50px;
  margin: 2rem 0;

  label {
    font-weight: 600;
  }
  select {
    background-color: $color-primary;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border-color: $color-primary;
    width: 7rem;
    height: 2rem;
    &:hover,
    &:focus-visible {
      outline: none;
    }
  }
}
