.gallery__options {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 50px;
  margin: 2rem 0;

  label {
    font-weight: 600;
  }
  &--sort {
    max-width: 300px;
    border-radius: 5px;
    color: $color-secondary-light;
    background-color: $color-primary;
    border: none;
  }
  .liste {
    display: none;
    flex-direction: column;
  }
}
