.gallery__options {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 50px;
  margin: 2rem 0;

  label {
    font-weight: 600;
  }
  &--sort {
    width: 6.5rem;
    border-radius: 5px;
    color: $color-secondary-light;
    background-color: $color-primary;
    border: none;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .liste {
    width: 6.5rem;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;

    button {
      max-width: 300px;
      border-radius: 5px;
      color: $color-secondary-light;
      background-color: $color-primary;
      border: none;
      padding: 0.75rem;
      &:nth-child(1) {
        border-radius: 0;
        &::after {
          background-color: white;
          content: "";
          position: absolute;
          left: 25%;
          bottom: 0;
          top: 0;
          height: 1px;
          width: 50%;
        }
      }
      &:nth-child(2) {
        border-radius: 0;
        &::after {
          background-color: white;
          content: "";
          position: absolute;
          left: 25%;
          bottom: 0;
          top: 2rem;
          height: 1px;
          width: 50%;
        }
      }
      &:nth-child(3) {
        border-radius: 0 0 5px 5px;
        &::after {
          background-color: white;
          content: "";
          position: absolute;
          left: 25%;
          bottom: 0;
          top: 5rem;
          height: 1px;
          width: 50%;
        }
      }
    }
  }
}

.animation-toggle {
  animation: translateY(2);
}
