.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-lightbox-background;
  z-index: 10;
  overflow: auto;
  animation: lightboxIn 0.5s;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    animation: lightboxIn 0.5s;
    img,
    video {
      /* max-width: 100%;
    height: auto; */
      width: 1050px;
      height: 900px;
      object-fit: cover;
      display: flex;
      justify-content: center;

      animation: lightboxIn 0.5s;
    }
  }
  &__previous {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }
  &__previous,
  &__next {
    border: none;
    background: url(../assets/icons/arrow.svg) center center / 60px 45px
      no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  &__close {
    width: 42px;
    height: 42px;
    z-index: 12;
    border: none;
    background: url(../assets/icons/close.svg) center center / 42px 42px
      no-repeat transparent;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  button {
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    text-indent: -3000px;
    &:hover {
      opacity: 1;
    }
  }
}
